.wrapper{
  width: 90%;
  margin: 10px auto;
    /* position: relative; */
}

.container{
  max-width: 100%;
  border-radius: 5px;
  margin-top: 30px;
  border: 2px solid gainsboro;
}

 #error {
   color: red;
   display: block;
   position: absolute;
   top: 90%;
   left: 165px;
   padding: 5px 20px;
   font-size: 0.8rem;
 }

.badge{
  margin: 10px 3px;
  display: inline-block;
  min-width: 20px;
  min-height: 20px;
}